﻿@model IEnumerable<ShopOnline.Models.UserAndRole>
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng thành viên</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Ngày đăng kí</th>
                        <th>Quyền hạn</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                        <td>@item.UserName</td>
                        <td class="center">@item.CreateDate</td>
                        <td class="center">@item.Role</td>
                        <td class="center">
                            <span class="label label-success">@item.Status</span>
                        </td>
                        <td class="center">
                            <a class="btn btn-success" href="/Account/DetailUsers?username=@item.UserName">
                                <i class="halflings-icon white zoom-in"></i>
                            </a>
                            <a class="btn btn-info" href="/Account/EditUsers?username=@item.UserName">
                                <i class="halflings-icon white edit"></i>
                            </a>
                            @if(User.Identity.Name!=item.UserName)
                            { 
                                <a class="btn btn-danger" href="/Account/DeleteUsers?username=@item.UserName">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

