﻿@{
    ViewBag.Title = "Quản lí trang web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="men-fashions">
    <div class="container">
        <div class="col-md-9 fashions">
            <div class="title">
                <h3>QUẢN LÝ TRANG WEB</h3>
            </div>
            
        </div>
        <div class="col-md-3 side-bar">
            <div class="categories">
                <h3>THỂ LOẠI</h3>
                <ul>
                    <li>@Html.ActionLink("QUẢN LÝ TÀI KHOẢN", "Manager", "Account")</li>
                    <li>@Html.ActionLink("QUẢN LÝ SẢN PHẨM", "Index", "Production")</li>
                    <li>@Html.ActionLink("QUẢN LÝ LOẠI SẢN PHẨM", "Index", "Categories")</li>
                    <li>@Html.ActionLink("QUẢN LÝ BÀI VIẾT", "Index", "News")</li>
                    <li>@Html.ActionLink("QUẢN LÝ BÌNH LUẬN", "Index", "Comments")</li>
                </ul>
            </div>
           
        </div>
        <div class="clearfix"></div>
    </div>
</div>
