﻿@model ShopOnline.Models.RegisterViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style ="background: #efefef"><h2>Thông tin tài khoản</h2></div>
<div style="min-height: 400px; background: #efefef">
    <div class="form-group col-md-12">
    @Html.LabelFor(model => model.UserName, new { @class = "col-md-2 control-label" })
    <div class="col-md-4">
        @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
    </div>
    <div class="col-md-6"></div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.DisplayFor(model => model.FullName, new { @class = "form-control" })
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Email, new { @class = "form-control" })
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.MobileNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.DisplayFor(model => model.MobileNumber, new { @class = "form-control" })
        </div>
        <div class="col-md-6"></div>
    </div>
    @*<dl class ="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        
    </dl>*@
    <div class="form-group col-md-12" >
        <div class="col-md-2">
            <h5>@Html.ActionLink("Cập nhật thông tin", "Edit", "Account")</h5><br />
        </div>
        <div class="col-md-2">
            <h5>@Html.ActionLink("Đổi mật khẩu", "Manage", "Account")</h5>
        </div>
        <div class="col-md-8"></div>
    </div>
    
</div>