﻿@model ShopOnline.Models.InfoUsers
@{
    ViewBag.Title = "Thông tin người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box black span4" ontablet="span6" ondesktop="span4">
    <div class="box-header">
        <h2><i class="halflings-icon white user"></i><span class="break"></span>Thông tin người dùng</h2>
        <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
        </div>
    </div>
    <div class="box-content">
        <ul class="dashboard-list metro">
            <li class="green">
                <a href="#">
                    <img class="avatar" alt="Dennis Ji" src="~/Content/Admin/img/avatar.jpg">
                </a>
                <strong>UserName:</strong> @Model.UserName<br>
                <strong>Email:</strong> @Model.Email<br>
                <strong>NumberPhone:</strong> @Model.NumberPhone<br>
                <strong>Role:</strong> @Model.Role<br><br>
                <strong>@Model.FullName</strong> 
            </li>
        </ul>
    </div>
</div><!--/span-->

