﻿@model ShopOnline.Models.RegisterViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="registration-form" style="min-height:400px">
    <div class="container">
        <h2>Cập nhật thông tin</h2>
        <div class="col-md-6 reg-form">
            <div class="reg">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form>
                        <ul>
                            <li class="text-info">Full Name: </li>
                            @Html.EditorFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                        </ul>
                        <ul>
                            <li class="text-info">Email: </li>
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </ul>
                        <ul>
                            <li class="text-info">Mobile Number:</li>
                            @Html.EditorFor(model => model.MobileNumber)
                            @Html.ValidationMessageFor(model => model.MobileNumber)
                        </ul>
                       
                        <input type="submit" value="Save" class="btn btn-default" />
                        <p class="click">By clicking this button, you agree to my modern style <a>Pollicy Terms and Conditions</a> to Use</p>
                    </form>

                }
            </div>
        </div>
       
    </div>
</div>
