﻿@model ShopOnline.Models.InfoUsers

@{
    ViewBag.Title = "Thay đổi thông tin người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thay đổi thông tin người dùng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
            <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="disabledInput">UserName</label>
                        <div class="controls">
                            @*<input class="input-xlarge disabled" id="disabledInput" type="text" placeholder="@Model.UserName" disabled="">*@
                            @Html.EditorFor(model => model.UserName)
                            @Html.ValidationMessageFor(model=>model.UserName)
                        </div>
                    </div>
                   
                    <div class="control-group success">
                        <label class="control-label" for="inputSuccess">FullName</label>
                        <div class="controls">
                            @Html.EditorFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="inputSuccess">Email</label>
                        <div class="controls">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="control-group success">
                        <label class="control-label" for="inputSuccess">NumberPhone</label>
                        <div class="controls">
                            @Html.EditorFor(model => model.NumberPhone)
                            @Html.ValidationMessageFor(model => model.NumberPhone)
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectError3">Role</label>
                        <div class="controls">
                           @Html.DropDownListFor(model => model.Role, new SelectList(
                            new List<Object>{"Admin", "Member"}))
                            @Html.ValidationMessageFor(model=>model.Role)
                        </div>
                    </div>
                    
                    
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button class="btn">Cancel</button>
               
            </form>
}
        </div>
    </div><!--/span-->

</div><!--/row-->
