﻿@model IEnumerable<ShopOnline.Models.User>
    @{
        ViewBag.Title = "KQTimKiem";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Kết Quả Tìm Kiếm:</h2>
    @if (ViewBag.Finded == 1)
{
    <form style="min-height:400px">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelPemission)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelPemission)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID })|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
        <table>
            <tr style="background:none;height:20px;width:100%;">

                @for (int i = 1; i <= (int.Parse(ViewBag.tongso) / 10) + 1; i++)
                {
                    <td> <a href="KQTimKiem?sotrang=@Html.Raw(@i)" style="list-style:none;color:rgb(0, 0, 0);padding:5px;"> @i |</a></td>
                }
            </tr>
        </table>

    </form>
}
else if (ViewBag.Finded == 2)
{
        <h4>Vui Lòng nhập một trong ba điều kiện tìm kiếm.</h4>
    }
    else if (ViewBag.Finded == 3)
    {
        <form style="min-height:400px">
            <br />
            <h4>Không tìm thấy Account</h4>
        </form>
        
    }
     @Html.ActionLink("Quay Lại", "TimKiemAc", "Account")
