﻿@model IEnumerable<ShopOnline.Models.User>
    @{
        ViewBag.Title = "Manager";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <form style="min-height:500px; margin-top:5px">
        <!--Dropdown sap xep-->
        <table>
            <tr>
                <th>
                    <div class="col-md-6 reg-form">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Sắp xếp
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Theo Tên Đăng Nhập", "SapXep", new { sotrang = 1, loai = 1 })</li>
                                <li>@Html.ActionLink("Theo Tên Ngày Đăng Ký", "SapXep", new { sotrang = 1, loai = 2 })</li>

                            </ul>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="col-md-6 reg-form">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Tìm kiếm
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tìm kiếm theo tên tài khoản", "TimKiemAc")</li>
                            </ul>
                        </div>
                    </div>
                </th>
            </tr>
            <!---->
        </table>
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelPemission)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelPemission)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID })|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
        <table>
            <tr style="background:none;height:20px;width:100%;">

                @for (int i = 1; i <= (int.Parse(ViewBag.tongso) / 10) + 1; i++)
                {
                    <td> <a href="Manager?sotrang=@Html.Raw(@i)" style="list-style:none;color:rgb(0, 0, 0);padding:5px;"> @i |</a></td>
                }
            </tr>
        </table>

    </form>
