﻿@model ShopOnline.Models.LoginViewModel
@{
<<<<<<< HEAD:ShopOnline/Views/Account/RecoverPassword.cshtml
    ViewBag.Title = "RecoverPassword";
=======
    ViewBag.Title = "Login";
>>>>>>> origin/master:1212473_1212481_1212515_10/ShopOnline/Views/Account/Login.cshtml
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login">
    <div class="container">
        <h2>RecoverPasswrod</h2>
        <div class="col-md-6 log">
            <p>Welcome, please enter the folling to continue.</p>
<<<<<<< HEAD:ShopOnline/Views/Account/RecoverPassword.cshtml
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
                <form>
                    <h5>User Name:</h5>
                    @Html.TextBox("UserName")
                    <input type="submit" value="Send">
                </form>
        }
=======
            <p>If you have previously Login with us, <span>click here</span></p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
            <form>
                <h5>User Name:</h5>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
                <h5>Password:</h5>
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
                <h5>Remember</h5>
                @Html.CheckBoxFor(model=>model.RememberMe)
                @Html.ValidationMessageFor(model=>model.RememberMe)
                <input type="submit" value="Login">
                <a href="../Account/RecoverPassword">Forgot Password ?</a>
            </form>
}

>>>>>>> origin/master:1212473_1212481_1212515_10/ShopOnline/Views/Account/Login.cshtml
        </div>
        <div class="col-md-6 login-right">
            <h3>NEW REGISTRATION</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="../Account/Register">Create an Account</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<<<<<<< HEAD:ShopOnline/Views/Account/RecoverPassword.cshtml

=======
>>>>>>> origin/master:1212473_1212481_1212515_10/ShopOnline/Views/Account/Login.cshtml
