﻿@model ShopOnline.Models.ManageUserViewModel
@{
    ViewBag.Title = "RecoverPasswordFromMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login">
    <div class="container">
        <h2>RecoverPasswordFromMail</h2>
        <div class="col-md-6 log">
            <p>Welcome, please enter the folling to continue.</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form>
                    <h5>New Password:</h5>
                    @Html.PasswordFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    <h5>Confirm Password:</h5>
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    <input type="submit" value="ResetPass">
                </form>
            }

        </div>
        <div class="col-md-6 login-right">
            <h3>NEW REGISTRATION</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="../Account/Register">Create an Account</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

