﻿@model ShopOnline.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="registration-form">
    <div class="container">
        <h2>Registration</h2>
        <div class="col-md-6 reg-form">
            <div class="reg">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
                <form>
                    <ul>
                        <li class="text-info">UserName: </li>
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </ul>
                    <ul>
                        <li class="text-info">Full Name: </li>
                        @Html.EditorFor(model => model.FullName)
                        @Html.ValidationMessageFor(model => model.FullName)
                    </ul>
                    <ul>
                        <li class="text-info">Email: </li>
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </ul>
                    <ul>
                        <li class="text-info">Password: </li>
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </ul>
                    <ul>
                        <li class="text-info">Re-enter Password:</li>
                         @Html.PasswordFor(model => model.ConfirmPassword)
                         @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </ul>
                        
                    <ul>
                        <li class="text-info">Mobile Number:</li>
                        @Html.EditorFor(model => model.MobileNumber)
                        @Html.ValidationMessageFor(model => model.MobileNumber)
                    </ul>
                     <div class="g-recaptcha" data-sitekey="6LfgCQgTAAAAACo1V313zsjg66fWb5eAS6Hv8KB9"></div>
                    
                    <input type="submit" value="Register Now">
                    <p class="click">By clicking this button, you agree to my modern style <a>Pollicy Terms and Conditions</a> to Use</p>
                </form>
    
}
            </div>
        </div>
        @if(ViewBag.DKTC == 1)
        { 
            <div class="col-md-6 reg-right">
                <h3>Completely Free Accouent</h3>
                <p>
                    Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio
                    libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.
                </p>
                <h3 class="lorem">Lorem ipsum dolor sit amet elit.</h3>
                <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
            </div>
        }
        else if(ViewBag.DKTC == 3)
        {
            <div class="col-md-6 reg-right">
                <h3>Đăng ký không thành công.</h3>
                <p>
                    Mật khẩu và mật khẩu nhập lại phải trùng nhau.
                </p>
            </div>
        }
        else if(ViewBag.DKTC == 2)
        {
            <div class="col-md-6 reg-right">
                <h3>Đăng ký thành công.</h3>
                <p>
                    Mail kích hoạt đã được gửi. Vui lòng kiểm tra mail.
                </p>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>


