﻿
@model ShopOnline.Models.User
    @{
        ViewBag.Title = "TimKiemAc";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    
<div class="login" style="min-height:500px">
    <h2>Tìm kiếm Account:</h2>
    <div class="container">
        <div class="col-md-6 log">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form style="min-height:500px">
                    <h5>User Name:</h5>
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                    <h5>Tên Đầy Đủ:</h5>
                    @Html.EditorFor(model => model.Fullname)
                    @Html.ValidationMessageFor(model => model.Fullname)
                    <h5>Email:</h5>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                    <input type="submit" value="Tìm">

                </form>
            }
            </div>
        </div>
    </div>

