﻿@model ShopOnline.Models.Comment

@{
    ViewBag.Title = "Xóa bình luận";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn muốn xóa bình luận này?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
