﻿@model IEnumerable<ShopOnline.Models.Comment>

@{
    ViewBag.Title = "Quản lý bình luận";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng bình luận</h2>
            <div class="box-icon">
                @Html.ActionLink("Thêm bình luận", "Create")
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Bình luận</th>             
                        <th>Người tạo</th>                   
                        <th>Trong sản phẩm</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="center">@item.CreateDate</td>
                            <td>@item.Message</td>                   
                            <td class="center">@item.AspNetUser.UserName</td>
                            <td class="center">
                                <a class="btn btn-info" href="/Items/Detail/@item.Product.ID">@item.Product.Name</a>
                            </td>
                            <td class="center">                           
                                <a class="btn btn-info" href="/Comments/Edit?id=@item.ID">
                                    <i class="halflings-icon white edit"></i>
                                </a>
         
                                <a class="btn btn-danger" href="/Comments/Delete?id=@item.ID">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->
