﻿@using PagedList.Mvc;
@{
    var lsHistory = ViewBag.History as PagedList.IPagedList<ShopOnline.Models.Transaction>;
}

@{
    if (lsHistory.Count > 0)
    {
        <section id="cart_items">
            <div class="container">
                <div class="review-payment">
                    <h2>Lịch sử mua hàng của @User.Identity.Name</h2>
                </div>
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Sản phẩm</td>
                                <td class="description"></td>                             
                                <td class="price">Giá bán</td>
                                <td class="quantity">Số lượng</td>
                                <td class="total">Thành tiền</td>    
                                <td class="state">Trạng thái</td>                          
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lsHistory)
                            {
                                foreach (var cart in item.Carts)
                                {
                                    string pathImage = "";
                                    if (cart.Product.ProductImages.Count() > 0)
                                    {
                                        var imageProduct = cart.Product.ProductImages.FirstOrDefault(i => i.Type == 1);
                                        pathImage = imageProduct.URL;
                                    }
                                    <tr>
                                        <td class="cart_product">
                                            <a href="@Url.Action("UpdateView", "Items", new { id = cart.Product.ID })"><img src="@Url.Content(pathImage)" alt="" width="110" height="110"></a>
                                        </td>
                                        <td class="cart_description">
                                            <h4><a href="@Url.Action("UpdateView", "Items", new { id = cart.Product.ID })">@cart.Product.Name</a></h4>
                                            <p>@cart.Product.Description</p>
                                        </td>
                                        <td class="cart_price">
                                            <p>@cart.Product.Price</p>
                                        </td>
                                        <td class="cart_quantity">
                                            <div class="cart_quantity_button">
                                                <input class="cart_quantity_input" type="text" name="quantity" value="@cart.Quantity" autocomplete="off" size="2" disabled>
                                            </div>
                                        </td>
                                        <td class="cart_total">
                                            @{
                                    var sum = cart.Product.Price * cart.Quantity;
                                            }
                                            <p class="cart_total_price">@sum</p>
                                        </td>
                                        <td class="state">
                                            <p>@item.State</p>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" align="center">
                                        <p>Thời gian đặt mua: @item.CreateDate</p>                   
                                    </td>
                                    <td colspan="2">
                                        <table class="table table-condensed total-result">
                                            <tr>
                                                <td>Thành tiền</td>
                                                <td>@item.Bill VNĐ</td>
                                            </tr>
                                            <tr>
                                                <td>Phí vận chuyển</td>
                                                <td>Miễn phí</td>
                                            </tr>
                                            <tr class="shipping-cost">
                                                <td>Phí dịch vụ</td>
                                                <td>Miễn phí</td>
                                            </tr>
                                            <tr>
                                                <td>Tổng số tiền</td>
                                                <td><span>@item.Bill VNĐ</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                           
                            <tr>
                                <td class="cart_product">
                                    Trang @(lsHistory.PageCount < lsHistory.PageNumber ? 0 : lsHistory.PageNumber) / @lsHistory.PageCount
                                    @Html.PagedListPager(lsHistory, page => Url.Action("Index", new { page }),
                                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "partialHistory" }))
                                </td>
                                <td class="cart_description"></td>
                                <td class="cart_price"></td>
                                <td class="cart_quantity"></td>
                                <td class="cart_total"></td>
                                <td class="cart_delete"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section> <!--/#cart_items-->
    }
    else
    {
        <div align="center">
            <h3 style="al">Bạn chưa đặt mua sản phẩm nào!</h3>
            <a class="btn btn-default update" href="ProductServlet?pageIndex=<%=0%>&action=showItems">Lựa chọn sản phẩm</a>
            <hr>
        </div>
    }
}

      
