﻿
@{
    ViewBag.Title = "Liên hệ với chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--CONTACT-->
<div class="contact">
    <div class="container">
        <div class="contact-head">
            <h2>CONTACT US</h2>
            <p>
                Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus
                convallis quis ac lectus. Quisque velit nisi,pretium ut lacinia in, elementum id enim.
                Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Nulla porttitor accumsan tincidunt.
            </p>
        </div>

        <div class="col-md-8 contact-left">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            <form class="contact-details">
                <input type="text" class="text" name="YourName" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
                <input type="text" class="text" name="YourMail" value="Your mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your mail';}">
                <input type="text" class="text" name="Subject" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                <textarea name="Message" onfocus="if(this.value == 'Message') this.value='';" onblur="if(this.value == '') this.value='Message';">Message</textarea>
                <div class="clearfix"></div>
                <input type="submit" value="SEND MESSAGE">
            </form>
}
        </div>
        <div class="col-md-4 company_address">
            <h3>Address</h3>
            <p>500 Lorem Ipsum Dolor Sit,</p>
            <p>22-56-2-9 Sit Amet, Lorem,</p>
            <p>USA</p>

            <p class="number">Phone:(00) 222 666 444</p>
            <p>Fax: (000) 000 00 00 0</p>
            <p>Email: <a href="mailto:info@example.com">info(at)example.com</a></p>
            <p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
        </div>
        <div class="clearfix"></div>
        <!---->
        <div class="map">
            <h5>Find us here</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.891304471444!2d106.68617299999998!3d10.742859999999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fa8ee6c7787%3A0xeddb027d9d72cbe9!2zMjg3LzI3IMOCdSBExrDGoW5nIEzDom4!5e0!3m2!1svi!2s!4v1429615665132" width="800" height="600" frameborder="0" style="border:0"></iframe>
        </div>
        <!---->
    </div>
</div>
<!--CONTACT Ends-->
