﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lsNew = Session["New"] as IEnumerable<ShopOnline.Models.Product>;  
}

<script src="~/Content/ShopOnline/js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            manualControls: '#slider3-pager',
        });
    });
</script>

<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <img src="~/Content/ShopOnline/images/bnr.jpg" alt="">
                <div class="banner-info">
                    <h3>NĂNG ĐỘNG</h3>
                    <p>Với những sản phẩm trẻ trung, hướng tới khách hàng là thanh, thiếu niên.</p>
                </div>
            </li>
            <li>
                <img src="~/Content/ShopOnline/images/bnr2.jpg" alt="">
                <div class="banner-info">
                    <h3>THỜI TRANG</h3>
                    <p>Những sản phẩm luôn được cập nhật theo kịp xu hướng thời trang thế giới.</p>
                </div>
            </li>
            <li>
                <img src="~/Content/ShopOnline/images/bnr3.jpg" alt="">
                <div class="banner-info">
                    <h3>GIÁ HẤP DẪN</h3>
                    <p>Giá rẻ và những ưu đãi đầy bất ngờ, mà không có ở bất kì nơi nào khác.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!---->
<div class="tab-section">
    <div class="wrap">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li><a href="#">MỚI</a></li>
                <li class="active"><a href="#">NỔI BẬT</a></li>
                <li><a href="#">MUA NHIỀU</a></li>
            </ul>
            <div class="resp-tabs-container">
                <!---tab1----->
                <div>
                    <div class="course_demo1">
                    <ul id="flexiselDemo1">
                            @foreach (var item in lsNew)
                            {
                                string pathImage = "";
                                if (item.ProductImages.Count() > 0)
                                {
                                    var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                                    pathImage = imageProduct.URL;
                                }
                                <li class="g1">
                                    <img src="@Url.Content(pathImage)" alt="" width="240" height="250"/>
                                    <a href="@Url.Action("UpdateView", "Items", new {id=item.ID })">
                                        <div class="caption">
                                            <span></span>
                                            <h3>@item.Name</h3>
                                            <h5>@item.Price &euro;</h5>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </li>
                            }                             
                        </ul>
                    </div>
                    <link rel="stylesheet" href="/Content/ShopOnline/css/flexslider.css" type="text/css" media="screen" />
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo1").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="/Content/ShopOnline/js/jquery.flexisel.js"></script>
                </div>
                <!---//tab1----->
                <!---tab2----->
                <div>
                    <div class="course_demo1">
                        <ul id="flexiselDemo2">
                           @foreach (var item in lsNew)
                           {
                               string pathImage = "";
                               if (item.ProductImages.Count() > 0)
                               {
                                   var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                                   pathImage = imageProduct.URL;
                               }
                            <li class="g1">
                                <img src="@Url.Content(pathImage)" alt="" width="240" height="250" />
                                <a href="@Url.Action("UpdateView", "Items", new {id=item.ID })">
                                    <div class="caption">
                                        <span></span>
                                        <h3>@item.Name</h3>
                                        <h5>@item.Price &euro;</h5>
                                    </div>
                                </a>
                                <div class="clearfix"></div>
                            </li>
                           }
                        
                        </ul>
                    </div>
                    <link rel="stylesheet" href="/Content/ShopOnline/css/flexslider.css" type="text/css" media="screen" />
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo2").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="/Content/ShopOnline/js/jquery.flexisel.js"></script>
                </div>
                <!---//tab2----->
                <!---tab3----->
                <div>
                    <div class="course_demo1">
                        <ul id="flexiselDemo3">
                           @foreach (var item in lsNew)
                           {
                               string pathImage = "";
                               if (item.ProductImages.Count() > 0)
                               {
                                   var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                                   pathImage = imageProduct.URL;
                               }
                            <li class="g1">
                                <img src="@Url.Content(pathImage)" alt="" width="240" height="250" />
                                <a href="@Url.Action("UpdateView", "Items", new {id=item.ID })">
                                    <div class="caption">
                                        <span></span>
                                        <h3>@item.Name</h3>
                                        <h5>@item.Price &euro;</h5>
                                    </div>
                                </a>
                                <div class="clearfix"></div>
                            </li>
                           }
                        
                        </ul>
                    </div>
                    <link rel="stylesheet" href="/Content/ShopOnline/css/flexslider.css" type="text/css" media="screen" />
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="/Content/ShopOnline/js/jquery.flexisel.js"></script>
                </div>
                <!---//tab3----->
            </div>
        </div>
    </div>
</div>