﻿
@{
    ViewBag.Title = "Điều khoản sử dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="terms">
    <div class="container">
        <div class="terms-sec-head">
            <h3>TERMS & CONDITIONS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor quis lectus et aliquam. Morbi lobortis tincidunt est, nec sodales quam condimentum a. Integer sollicitudin ornare molestie. Nam vel ligula tincidunt, rutrum lorem ac, euismod leo. Nam ac placerat mauris. Maecenas in accumsan purus, vel facilisis mauris. Cras ac odio metus. Etiam vel congue est, malesuada vulputate lectus.</p>
        </div>
        <div class="term">
            <h4>1)&nbsp; Sign up to receive email newsletters</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor quis lectus et aliquam. Morbi lobortis tincidunt est, nec sodales quam condimentum a. Integer sollicitudin ornare molestie. Nam vel ligula tincidunt, rutrum lorem ac, euismod leo. Nam ac placerat mauris. Maecenas in accumsan purus, vel facilisis mauris. Cras ac odio metus. Etiam vel congue est, malesuada vulputate lectus.</p>
        </div>
        <div class="term">
            <h4>2)&nbsp; The Fundamental Parts of a Fashion</h4>
            <p>Curabitur tempus leo ipsum, nec pulvinar arcu lacinia a. In pretium in tortor vel dictum. Integer porttitor ante vitae finibus porttitor. Praesent elementum tellus at orci posuere, eu imperdiet risus tincidunt. Nunc arcu justo, semper at orci ac, condimentum viverra ligula.</p>
        </div>
        <div class="term">
            <h4>3)&nbsp; Register.</h4>
            <p>When we send newsletters to subscribers we may allow advertisers or partners to include messages in those newsletters, or we may send dedicated newsletters on behalf of those advertisers or partners. To unsubscribe from a particular newsletter, click the "unsubscribe" link at the bottom of that email newsletter. If you would like to globally opt-out from ALL About.com email campaigns please send an with "Unsubscribe" in the subject line.</p>
        </div>
        <div class="term">
            <h4>4)&nbsp; Illegal activities</h4>
            <p> Do not use Blogger to engage in illegal activities or to promote dangerous and illegal activities. For example, don't author a blog encouraging people to drink and drive. Please also do not use Blogger to sell or promote illegal drugs. Otherwise, we may delete your content. Also, in serious cases such as those involving the abuse of children, we may report you to the appropriate authorities.</p>
        </div>
        <div class="term">
            <h4>5)&nbsp; Spam</h4>
            <p>Curabitur tempus leo ipsum, nec pulvinar arcu lacinia a. In pretium in tortor vel dictum. Integer porttitor ante vitae finibus porttitor. Praesent elementum tellus at orci posuere, eu imperdiet risus tincidunt. Nunc arcu justo, semper at orci ac, condimentum viverra ligula..</p>
        </div>
        <div class="term">
            <h4>6)&nbsp; Fashion and Designing Content Policy</h4>
            <p>Aenean sagittis finibus quam, eget lobortis felis varius quis. Phasellus nibh metus, pretium vitae nisi in, cursus cursus ex. Sed eget lorem sit amet dui finibus iaculis. Nulla a turpis turpis. Integer ut molestie nisl, ac dapibus dui. Nullam porttitor tincidunt porttitor. Integer vel arcu quis ex consequat maximus.</p>
            <li class="list">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Etiam nec nibh et nulla hendrerit laoreet et convallis arcu.</li>
            <li>Suspendisse porta elit at mauris mattis suscipit.</li>
            <li>Proin a dolor et tellus ullamcorper aliquam.</li>
            <li>Etiam nec nibh et nulla hendrerit laoreet et convallis arcu.</li>
            <li>Vivamus vehicula nibh nec urna malesuada porta.</li>
        </div>
    </div>
</div>

