﻿@model ShopOnline.Models.Cart

@{
    ViewBag.Title = "Xóa chi tiết đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn muốn xóa chi tiết đơn hàng này?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
    }
</div>
