﻿@model IEnumerable<ShopOnline.Models.Cart>

@{
    ViewBag.Title = "Quản lý chi tiết đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var transaction = ViewBag.Transaction;
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng chi tiết đơn hàng</h2>
            <div class="box-icon">
                @Html.ActionLink("Thêm chi tiết đơn hàng", "Create", new { transaction = transaction })
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>                        
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="center">
                                <a class="btn btn-info" href="/Items/Detail/@item.Product.ID">@item.Product.Name</a>
                            </td>
                            <td class="center">@item.Quantity</td>
                            <td class="center">

                                <a class="btn btn-info" href="/DetailOrder/Edit?id=@item.ID&transaction=@transaction">
                                    <i class="halflings-icon white edit"></i>
                                </a>

                                <a class="btn btn-danger" href="/DetailOrder/Delete?id=@item.ID&transaction=@transaction">
                                    <i class="halflings-icon white trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

