﻿@model PagedList.IPagedList<ShopOnline.Models.Transaction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Thống kê theo quý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int doanhthu = ViewBag.DoanhThu;
    string QuyThongKe = ViewBag.QuyThongKe;

    List<SelectListItem> items = new List<SelectListItem>();

    items.Add(new SelectListItem { Text = "1", Value = "1", Selected = true });

    items.Add(new SelectListItem { Text = "2", Value = "2" });

    items.Add(new SelectListItem { Text = "3", Value = "3" });

    items.Add(new SelectListItem { Text = "4", Value = "4" });



}

<h2>@QuyThongKe</h2>
@using (Html.BeginForm("Index", "ThongKeTheoQuy", FormMethod.Get))
{
    <p>
        @Html.DropDownList("searchString", items, ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Hóa đơn
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tên khách hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<h2>Doanh thu: @doanhthu</h2>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))