﻿@model IEnumerable<ShopOnline.Models.Transaction>

@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng đơn hàng</h2>
            <div class="box-icon">
                @Html.ActionLink("Thêm đơn hàng", "Create")
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Thời gian</th>
                        <th>Tổng hóa đơn</th>
                        <th>Địa chỉ giao nhận</th>
                        <th>Trạng thái</th>
                        <th>Người dùng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CreateDate</td>
                            <td class="center">@item.Bill</td>
                            <td class="center">@item.Address</td>
                            <td class="center">@item.State</td>
                            <td class="center">@item.AspNetUser.UserName</td>
                            <td class="center">
                                <a class="btn btn-success" href="/DetailOrder/Index?id=@item.ID">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="/Order/Edit?id=@item.ID">
                                    <i class="halflings-icon white edit"></i>
                                </a>

                                <a class="btn btn-danger" href="/Order/Delete?id=@item.ID">
                                    <i class="halflings-icon white trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

