﻿@model IEnumerable<ShopOnline.Models.Product>


@{
    ViewBag.Title = "Top 10 số lượng bán";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var fashionMenu = ViewBag.FashionMenu as IEnumerable<ShopOnline.Models.FashionType>;
}


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            Số lượng đã bán
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Mô tả
                        </th>                  
                        <th>
                           Giá thành
                        </th>
                        <th>
                           Ngày tải lên
                        </th>
                        <th>
                           Thể loại
                        </th>                
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string pathImage = "";
                        if (item.ProductImages.Count() > 0)
                        {
                            var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                            pathImage = imageProduct.URL;
                        }
                        <tr>
                            <td><img src="@Url.Content(@pathImage)" alt="" style="max-height:100px; max-width:100px" /></td>
                            <td class="center">@item.Stock</td>
                            <td class="center">@item.Name</td>
                            <td class="center">@item.Description</td>                   
                            <td class="center">@item.Price</td>
                            <td class="center">@item.TimeUpdate</td>
                            <td class="center">@item.Category.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

@foreach (var menu in fashionMenu)
{
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Gian hàng @menu.Name</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Số lượng đã bán
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Mô tả
                            </th>
                            <th>
                                Giá thành
                            </th>
                            <th>
                                Ngày tải lên
                            </th>
                            <th>
                                Thể loại
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.FashionType == menu.ID)
                            {
                                string pathImage = "";
                                if (item.ProductImages.Count() > 0)
                                {
                                    var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                                    pathImage = imageProduct.URL;
                                }
                                <tr>
                                    <td><img src="@Url.Content(@pathImage)" alt="" style="max-height:100px; max-width:100px" /></td>
                                    <td class="center">@item.Stock</td>
                                    <td class="center">@item.Name</td>
                                    <td class="center">@item.Description</td>
                                    <td class="center">@item.Price</td>
                                    <td class="center">@item.TimeUpdate</td>
                                    <td class="center">@item.Category.Name</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div><!--/span-->

    </div><!--/row-->
}
