﻿
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart">
    <div class="container">
        <div class="cart-info">
            <h3>
                There are no items in the cart(0)</h2>
                <p>Vestibulum rhoncus nibh quis dui fermentum iaculis In consequat dolor in lorem egestas ultrices.</p>
                <a href="#">CONTINUE SHOPPING</a>
        </div>
        <div class="cart-list">
            <h3>Categories</h3>
            <div class="col-md-4 carting">
                <ul>
                    <li><a href="#">Always free from repetition</a></li>
                    <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
                    <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
                    <li><a href="#">Aliquam sollicitudin eros id luctus consequat.</a></li>
                    <li><a href="#">Always free from repetition</a></li>
                </ul>
            </div>
            <div class="col-md-4 carting">
                <ul>
                    <li><a href="#">Always free from repetition</a></li>
                    <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
                    <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
                    <li><a href="#">Aliquam sollicitudin eros id luctus consequat.</a></li>
                    <li><a href="#">Always free from repetition</a></li>
                </ul>
            </div>
            <div class="col-md-4 carting">
                <ul>
                    <li><a href="#">Always free from repetition</a></li>
                    <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
                    <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
                    <li><a href="#">Aliquam sollicitudin eros id luctus consequat.</a></li>
                    <li><a href="#">Always free from repetition</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

