﻿@using PagedList.Mvc;
@{
    var lsComment = ViewBag.Comments as PagedList.IPagedList<ShopOnline.Models.Comment>; 
}

@foreach (var comment in lsComment)
{
    <h4><b>@comment.AspNetUser.UserName</b> - <i>@comment.CreateDate</i></h4>
    <p>@comment.Message</p>
}
<hr />
Trang @(lsComment.PageCount < lsComment.PageNumber ? 0 : lsComment.PageNumber) / @lsComment.PageCount
@Html.PagedListPager(lsComment, page => Url.Action("Detail", new { page}),
                              PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic,new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "comments" }))
       