﻿@model ShopOnline.Models.Product
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Chi tiết sản phẩm " + ViewBag.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lsPreProduct = Session["PreProduct"] as IEnumerable<ShopOnline.Models.Product>;   
}

<!---->
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider2").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
</script>
<script src="~/Content/ShopOnline/js/responsiveslides.min.js"></script>
<div class="single-section">
    <div class="col-md-8 fashions2">
        <div class="slider2">
            <ul class="rslides rslider" id="slider2">
               @foreach(var image in Model.ProductImages)
               {
                <li><img src="@Url.Content(image.URL)" alt=""></li>
               }
            </ul>
        </div>
        <div class="tab-section">
            <div class="wrap">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">                       
                        <li class="active">Sản phẩm liên quan</li>  
                    </ul>
                    <div class="resp-tabs-container">
                        <!---tab1----->
                        <div>
                            <div class="course_demo1">
                                <ul id="flexiselDemo1">
                                    @foreach (var item in lsPreProduct)
                                    {
                                        string pathImage = "";
                                        if (item.ProductImages.Count() > 0)
                                        {
                                            var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                                            pathImage = imageProduct.URL;
                                        }
                                        <li class="g1">
                                            <img src="@Url.Content(pathImage)" alt="" width="240" height="250"/>
                                            <a href="@Url.Action("UpdateView", new { id = item.ID })">
                                                <div class="caption">
                                                    <span></span>
                                                    <h3>@item.Name</h3>
                                                    <h5>@item.Price &euro;</h5>
                                                </div>
                                            </a>
                                            <div class="clearfix"></div>
                                        </li>
                                    }
                                                                 
                                </ul>
                            </div>
                            <link rel="stylesheet" href="/Content/ShopOnline/css/flexslider.css" type="text/css" media="screen" />
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo1").flexisel({
                                        visibleItems: 4,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 3
                                            }
                                        }
                                    });

                                });
                            </script>
                            <script type="text/javascript" src="/Content/ShopOnline/js/jquery.flexisel.js"></script>
                        </div>
                        <!---//tab1----->                   
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h3>Bình luận:</h3>
        <hr />
        <div id="comments">
           @Html.Partial("Comments")
        </div>

        <hr />
        @if (Request.IsAuthenticated)
        {
            using (Ajax.BeginForm("Detail", new { id = Model.ID }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "comments" }))
            {
                <label for="comment">Nhận xét:</label>
                <textarea class="form-control" rows="5" name="msg"></textarea>
                <input type="submit" value="Gửi nhận xét">
            }          
        }
        else
        {
            <h4>Bạn cần đăng nhập để viết bình luận!</h4>
        }
        <hr />
        
    </div>
    <div class="col-md-4 side-bar2">
        <div class="product-price">
            <div class="product-name">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
                <span>@Model.Price &euro;</span>
                <div class="clearfix"></div>
                @{
                    if (Model.Stock > 0)
                    {
                    <h4>Nếu hài lòng, hãy đặt mua ngay!</h4>
                    }
                    else
                    {
                        <h4 style="color:red">Cửa hàng chưa nhập thêm sản phẩm! </h4>
                    }
}    
            </div>
            <div class="product-id">
                <h4>CHỌN SIZE CỦA BẠN</h4>
                @using (Html.BeginForm("UpdateCart", "Items", new { id=Model.ID}))
                {
                    <div class="size select-size">
                        <ul>
                            @foreach (var size in Model.Sizes)
                            {
                                @Html.RadioButton("size", 1)
                                <li>@size.Value</li>
                            }
                        </ul>
                    </div>
                    <p>SỐ LƯỢNG: <input type="number" name="stock" value="1" min="1" max="@Model.Stock" /> / @Model.Stock</p>
                    <p>LƯỢT XEM : @Model.NumView</p>
                    <hr />
                    if (Model.Stock > 0)
                    {
                        <input type="submit" value="THÊM VÀO GIỎ HÀNG">
                    }
                    else
                    {
                        <input type="submit" value="THÊM VÀO GIỎ HÀNG" disabled>
                    }
                }      
                
                
                
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

