﻿@model PagedList.IPagedList<ShopOnline.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Danh sách sản phẩm " + ViewBag.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lsCategory = Session["Category"] as IEnumerable<ShopOnline.Models.Category>;
    int countProduct=0;
    int size=Model.Count();
}


<!---->
 
<div class="men-fashions">
    <div class="container">
        <div class="col-md-9 fashions">
            @Html.Partial("Sort")
            <div class="fashion-section">
                <div class="fashion-grid1">
                    @while (true)
                    {

                        if (countProduct >= 3 || countProduct >= size)
                        {
                            break;
                        }
                        else
                        {
                            <div class="col-md-4 fashion-grid">
                                <a>
                                    @{
                            var currentProduct = Model.ElementAt(countProduct);
                            string pathImage = "";
                            if (currentProduct.ProductImages.Count() > 0)
                            {
                                var imageProduct = currentProduct.ProductImages.FirstOrDefault(i => i.Type == 1);
                                pathImage = imageProduct.URL;
                            }

                                    }
                                    <img src="@Url.Content(pathImage)" alt="" />
                                    <div class="product">
                                        <h3>@currentProduct.Name</h3>
                                        <p><span></span> @currentProduct.Price</p>
                                    </div>
                                </a>
                                <div class="fashion-view">
                                    <span></span>
                                    <div class="clearfix"></div>
                                    @if (currentProduct.Stock > 0)
                                    {
                                        <h4>@Html.ActionLink("Xem chi tiết", "UpdateView", "Items", new { id = currentProduct.ID }, 1)</h4>
                                    }
                                    else
                                    {
                                        <h4 class="sold-out"><del>@Html.ActionLink("Xem chi tiết", "UpdateView", "Items", new { id = currentProduct.ID }, 1)</del></h4>
                                    }
                                    
                                </div>                        
                            </div>

                            countProduct++;
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="fashion-grid2">
                   @while(true)
                   {

                       if (countProduct >= 6 || countProduct >= size)
                       {
                           break;
                       }
                       else
                       {
                            <div class="col-md-4 fashion-grid">
                                <a>
                                    @{
                                       var currentProduct = Model.ElementAt(countProduct);
                                       string pathImage = "";
                                       if (currentProduct.ProductImages.Count() > 0)
                                       {
                                           var imageProduct = currentProduct.ProductImages.FirstOrDefault(i => i.Type == 1);
                                           pathImage = imageProduct.URL;
                                       }

                                    }
                                    <img src="@Url.Content(pathImage)" alt="" />
                                    <div class="product">
                                        <h3>@currentProduct.Name</h3>
                                        <p><span></span> @currentProduct.Price</p>
                                    </div>
                                </a>
                                <div class="fashion-view">
                                    <span></span>
                                    <div class="clearfix"></div>
                                    @if (currentProduct.Stock > 0)
                                    {
                                        <h4>@Html.ActionLink("Xem chi tiết", "UpdateView", "Items", new { id = currentProduct.ID }, 1)</h4>
                                    }
                                    else
                                    {
                                        <h4 class="sold-out"><del>@Html.ActionLink("Xem chi tiết", "UpdateView", "Items", new { id = currentProduct.ID }, 1)</del></h4>
                                    }

                                </div>        
                            </div>
                            countProduct++;
                       }
                   }
                    
                    
                    <div class="clearfix"></div>
                </div>
               
                <br />
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilterP = ViewBag.CurrentFilterP, sortOrder = ViewBag.CurrentSort }))
            </div>
        </div>
        <div class="col-md-3 side-bar">
            <div class="categories">
                <h3>THỂ LOẠI</h3>
                <ul>
                    <li>@Html.ActionLink("Tất cả", "Index", new { currentFilter = -1, sortOrder = ViewBag.CurrentSort })</li>
                    @foreach (var item in lsCategory)
                    {
                        <li>@Html.ActionLink(item.Name, "Index", new { currentFilter = item.ID, sortOrder = ViewBag.CurrentSort })</li>
                    }
                </ul>
            </div>
            <div class="sales">
                @using (Html.BeginForm("Index", "Items", FormMethod.Get))
                {
                <h3>TÌM KIẾM NÂNG CAO</h3>
                <div>
                    <h4>Tên sản phẩm</h4>
                    @Html.TextBox("ItemName", ViewBag.CurrentFilterP as string)
                    <hr />
                </div>
                <div class="pricing">
                    <h4>Giá sản phẩm</h4>
                    @Html.TextBox("PriceFrom")
                    @Html.TextBox("PriceTo")
                    <div class="clearfix"></div>
                </div>
                <div class="size">
                    <h4>Size sản phẩm</h4>
                    <ul>
                        @Html.RadioButton("Size", "XS")
                        <a>XS</a>
                        @Html.RadioButton("Size", "S")
                        <li>S</li>
                        @Html.RadioButton("Size", "M")
                        <li>M</li>
                        @Html.RadioButton("Size", "L")
                        <li>L</li>
                        @Html.RadioButton("Size", "XL")
                        <li>XL</li>
                      
                    </ul>

                </div>
                <div>
                    <hr />
                    <button type="submit" class="btn btn-info">Tìm kiếm</button>
                </div>
                }
            </div>
                
              
        <div class="clearfix"></div>
    </div>
</div>
    </div>




