﻿
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            @if (@ViewBag.CurrentSort ==1)
            { 
                <span>Nổi bật</span>
            }
            else if(@ViewBag.CurrentSort ==2)
            {
                <span>Mới nhất</span>
            }
            else if (@ViewBag.CurrentSort == 3)
            {
                <span>Giá thấp nhất</span>
            }

            else if (@ViewBag.CurrentSort == 4)
            {
                <span>Giá cao nhất</span>
            }

            else if (@ViewBag.CurrentSort == 5)
            {
                <span>Còn nhiều</span>
            }
            else
            {
                  <span>Sắp xếp theo</span>
            }
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Nổi bật", "Index", new { sortOrder = 1, currentFilter = ViewBag.CurrentFilter })</li>
            <li>@Html.ActionLink("Mới nhất", "Index", new { sortOrder = 2, currentFilter = ViewBag.CurrentFilter })</li>
            <li>@Html.ActionLink("Giá thấp nhất", "Index", new { sortOrder = 3, currentFilter = ViewBag.CurrentFilter })</li>
            <li>@Html.ActionLink("Giá cao nhất", "Index", new { sortOrder = 4, currentFilter = ViewBag.CurrentFilter })</li>
            <li>@Html.ActionLink("Còn nhiều", "Index", new { sortOrder = 5, currentFilter = ViewBag.CurrentFilter })</li>
        </ul>
    </div>

    






