﻿@{
    ViewBag.Title = "Thời trang nữ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="men-fashions">
    <div class="container">
        <div class="col-md-9 fashions">
            <div class="title">
                <h3>TOPS - TITLE</h3>
            </div>
            <div class="fashion-section">
                <div class="fashion-grid1">
                    <div class="col-md-4 fashion-grid">
                        <a>
                            <img src="~/Content/ShopOnline/images/g1.jpg" alt="" />
                            <div class="product">
                                <h3>PRODUCT NAME</h3>
                                <p><span></span> 176.00 &euro;</p>
                            </div>
                        </a>
                        <div class="fashion-view">
                            <span></span>
                            <div class="clearfix"></div>
                            <h4>@Html.ActionLink("Xem chi tiết", "Detail", "Items")</h4>
                        </div>
                    </div>
                    <div class="col-md-4 fashion-grid">
                        <a>
                            <img src="~/Content/ShopOnline/images/g2.jpg" alt="" />
                            <div class="product">
                                <h3>PRODUCT NAME</h3>
                                <p><span></span> 176.00 &euro;</p>
                            </div>
                        </a>
                        <div class="fashion-view">
                            <span></span>
                            <div class="clearfix"></div>
                            <h4>@Html.ActionLink("Xem chi tiết", "Detail", "Items")</h4>
                        </div>
                    </div>
                    <div class="col-md-4 fashion-grid">
                        <a>
                            <img src="~/Content/ShopOnline/images/g3.jpg" alt="" />
                            <div class="product not-avaliable">
                                <h3>PRODUCT NAME</h3>
                                <p><del><span></span> 176.00 &euro;</del></p>
                            </div>
                        </a>
                        <div class="fashion-view">
                            <span></span>
                            <div class="clearfix"></div>
                            <h4 class="sold-out"><del>@Html.ActionLink("Đã bán hết", "Detail", "Items")</del></h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fashion-grid2">
                    <div class="col-md-4 fashion-grid">
                        <a>
                            <img src="~/Content/ShopOnline/images/g4.jpg" alt="" />
                            <div class="product">
                                <h3>PRODUCT NAME</h3>
                                <p><span></span> 176.00 &euro;</p>
                            </div>
                        </a>
                        <div class="fashion-view">
                            <span></span>
                            <div class="clearfix"></div>
                            <h4>@Html.ActionLink("Xem chi tiết", "Detail", "Items")</h4>
                        </div>
                    </div>
                    <div class="col-md-4 fashion-grid">
                        <a>
                            <img src="~/Content/ShopOnline/images/g5.jpg" alt="" />
                            <div class="product not-avaliable">
                                <h3>PRODUCT NAME</h3>
                                <p><del><span></span> 176.00 &euro;</del></p>
                            </div>
                        </a>
                        <div class="fashion-view">
                            <span></span>
                            <div class="clearfix"></div>
                            <h4 class="sold-out"><del>@Html.ActionLink("Đã bán hết", "Detail", "Items")</del></h4>
                        </div>
                    </div>
                    <div class="col-md-4 fashion-grid">
                        <a>
                            <img src="~/Content/ShopOnline/images/g6.jpg" alt="" />
                            <div class="product">
                                <h3>PRODUCT NAME</h3>
                                <p><span></span> 176.00 &euro;</p>
                            </div>
                        </a>
                        <div class="fashion-view">
                            <span></span>
                            <div class="clearfix"></div>
                            <h4>@Html.ActionLink("Xem chi tiết", "Detail", "Items")</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 side-bar">
            <div class="categories">
                <h3>CATEGORIES</h3>
                <ul>
                    <li><a href="#">accessories</a></li>
                    <li><a href="#">basics</a></li>
                    <li><a href="#">jackets</a></li>
                    <li><a href="#">jeans</a></li>
                    <li><a href="#">knits</a></li>
                    <li><a href="#">overalls</a></li>
                    <li><a href="#">over coats</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">sweatshirts</a></li>
                    <li><a href="#">nities</a></li>
                    <li><a href="#"><del>tops</del></a></li>
                    <li><a href="#">watersuits</a></li>
                </ul>
            </div>
            <div class="sales">
                <h3>SALE</h3>
                <div class="pricing">
                    <h4>Price range</h4>
                    <input type="text" placeholder="price from" required />
                    <input type="text" placeholder="price to" required />
                    <div class="clearfix"></div>
                </div>
                <div class="size">
                    <h4>Size</h4>
                    <ul>
                        <li><a href="#">XS</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">XL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

