﻿

@model PagedList.IPagedList<ShopOnline.Models.Transaction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Thống kê theo ngày";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int doanhthu = ViewBag.DoanhThu;
    string ngaythongke = ViewBag.NgayThongKe;
}

<h2>@ngaythongke</h2>
@using (Html.BeginForm("Index", "ThongKeTheoNgay", FormMethod.Get)) 
{
    <p>
        Tìm theo ngày: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
        (Tháng/Ngày/Năm)
    </p>
}

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Hóa đơn
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tên khách hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })    
        </td>
    </tr>
}
</table>
    <h2>Doanh thu: @doanhthu</h2>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))