﻿@model ShopOnline.Models.Product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script language="JavaScript" type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah1')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah2')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah3')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
    
@using (Html.BeginForm("Create", "Production", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Tên sản phẩm</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Chọn loại sản phẩm</label>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("CategoryID")
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Mô tả</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Số lượng</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Giá thành</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">

            <div class="control-label col-md-2">    
                <label>Kích thước</label>
            </div>
            <div class="control-label col-md-10">
                <input type="checkbox" name="size1" value="XS">XS
               
                <input type="checkbox" name="size2" value="S">S
               
                <input type="checkbox" name="size3" value="M">M
               
                <input type="checkbox" name="size4" value="L">L
              
                <input type="checkbox" name="size5" value="XL">XL
              
            </div>
           
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Hình ảnh</label>
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file" id="file" onchange="readURL(this);" />
                <input type="image" id="blah" name="imagepost1" src="#" alt="your image" />
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file1" id="file" onchange="readURL1(this);" />
                <input type="image" id="blah1" name="imagepost2" src="#" alt="your image" />
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file2" id="file" onchange="readURL2(this);" />
                <input type="image" id="blah2" name="imagepost3" src="#" alt="your image" />
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file3" id="file" onchange="readURL3(this);" />
                <input type="image" id="blah3" name="imagepost4" src="#" alt="your image" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
