﻿@model ShopOnline.Models.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listImages = Session["lm"] as IEnumerable<ShopOnline.Models.ProductImage>;
    var Sizes = Session["ls"] as IEnumerable<ShopOnline.Models.Size>;
}

<div>
    <div class="row">
        <div class="col-sm-4" style="padding-top:5%">
            <dl class="dl-horizontal">
                <dt>
                    Tên sản phẩm
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Mô tả
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                   Số lượng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stock)
                </dd>

                <dt>
                    Giá thành
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                   Thời gian cập nhật
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeUpdate)
                </dd>

                <dt>
                    Thể loại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
                <dt>
                    Kích cỡ
                </dt>
                <dd>
                    @foreach (var s in @Sizes)
                    {
                        @s.Value
                    }
                </dd>
                <dt>
                    Hình ảnh
                </dt>
                <dd>
                    @foreach (var img in @listImages)
                    {
                        <img src="@Url.Content(@img.URL)" alt="" height="200" width="200" />

                    }
                </dd>
            </dl>
        </div>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Trở lại", "Index")
    </p>
</div>
