﻿@model ShopOnline.Models.Product

@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listImages = Session["lm"] as IEnumerable<ShopOnline.Models.ProductImage>;
    var Sizes = Session["ls"] as IEnumerable<ShopOnline.Models.Size>;
    string s1, s2, s3, s4, s5;
    string i1, i2, i3, i4;
    s1 = s2 = s3 = s4 = s5 = null;
    i1 = i2 = i3 = i4 = "#";
    foreach(var s in @Sizes)
    {
        string []temp = s.Value.Split(' ');
        if (temp[0] == "XS")
        { 
            s1 = "true";
        }
        if (temp[0] == "S")
        {
            s2 = "true";
        }
        if (temp[0] == "M")
        {
            s3 = "true";
        }
        if (temp[0] == "L")
        {
            s4 = "true";
        }
        if (temp[0] == "XL")
        {
            s5 = "true";
        }
    }
    foreach(var img in @listImages)
    {   
        if(img.Type==1)
        {
            i1 = img.URL;
        }
        else if (img.Type == 2)
        {
            i2 = img.URL;
        }
        else if (img.Type == 3)
        {
            i3 = img.URL;
        }
        else if (img.Type == 4)
        {
            i4 = img.URL;
        }
    }
}


<script language="JavaScript" type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah1')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah2')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah3')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@using (Html.BeginForm("Edit", "Production", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Tên sản phẩm", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "Thể loại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description,"Mô tả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock,"Số lượng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price,"Giá thành", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Kích thước</label>
            </div>
            <div class="control-label col-md-10">
                <input type="checkbox" name="size1" value="XS" checked="@s1">XS<br>
                <input type="checkbox" name="size2" value="S" checked="@s2">S<br>
                <input type="checkbox" name="size3" value="M" checked="@s3">M<br>
                <input type="checkbox" name="size4" value="L" checked="@s4">L<br>
                <input type="checkbox" name="size5" value="XL" checked="@s5">XL<br>
            </div>
          
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">  
                <label>Hình ảnh</label>
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file" id="file" onchange="readURL(this);" />
                <input type="image" id="blah" name="imagepost1" src="@Url.Content(@i1)"  alt="your image" width=100 height=100 />
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file1" id="file" onchange="readURL1(this);" />
                <input type="image" id="blah1" name="imagepost2" src="@Url.Content(@i2)" alt="your image" width=100 height=100 />
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file2" id="file" onchange="readURL2(this);" />
                <input type="image" id="blah2" name="imagepost3" src="@Url.Content(@i3)" alt="your image" width=100 height=100 />
            </div>
            <div class="control-label col-md-10">
                <input type='file' name="file3" id="file" onchange="readURL3(this);" />
                <input type="image" id="blah3" name="imagepost4" src="@Url.Content(@i4)" alt="your image" width=100 height=100 />
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>




    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
