﻿@model IEnumerable<ShopOnline.Models.Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng sản phẩm</h2>
            <div class="box-icon">
                @Html.ActionLink("Thêm sản phẩm", "Create")
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            @Html.ActionLink("Tên sản phẩm", "Index", new { sortOrder = ViewBag.NameSortParm})
                        </th>
                        <th>
                            @Html.ActionLink("Mô tả", "Index", new { sortOrder = ViewBag.DescriptionlSortParm})
                        </th>
                        <th>
                            @Html.ActionLink("Số lượng", "Index", new { sortOrder = ViewBag.StockSortParm})
                        </th>
                        <th>
                            @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.PriceSortParm})
                        </th>
                        <th>
                            @Html.ActionLink("Ngày tải lên", "Index", new { sortOrder = ViewBag.DateSortParm})
                        </th>
                        <th>
                            @Html.ActionLink("Loại", "Index", new { sortOrder = ViewBag.CategorySortParm})
                        </th>
                        <th>
                            Các kích cỡ
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string pathImage = "";
                        if (item.ProductImages.Count() > 0)
                        {
                            var imageProduct = item.ProductImages.FirstOrDefault(i => i.Type == 1);
                            pathImage = imageProduct.URL;
                        }
                        <tr>
                            <td><img src="@Url.Content(@pathImage)" alt="" style="max-height:100px; max-width:100px" /></td>
                            <td class="center">@item.Name</td>
                            <td class="center">@item.Description</td>
                            <td class="center">@item.Stock</td>
                            <td class="center">@item.Price</td>
                            <td class="center">@item.TimeUpdate</td>
                            <td class="center">@item.Category.Name</td>
                            <td class="center">
                                @foreach (var s in @item.Sizes)
                                {
                                    <span class="label label-success">@s.Value</span>
                                }   
                            </td>
                            <td class="center">
                                <a class="btn btn-success" href="/Production/Details?id=@item.ID">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="/Production/Edit?id=@item.ID">
                                    <i class="halflings-icon white edit"></i>
                                </a>

                                <a class="btn btn-danger" href="/Production/Delete?id=@item.ID">
                                    <i class="halflings-icon white trash"></i>
                                </a>

                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->