﻿@{
    var lsCart = Session["Carts"] as List<ShopOnline.Models.Cart>;
    if (lsCart == null)
    {
        lsCart = new List<ShopOnline.Models.Cart>();
        Session["Carts"] = lsCart;
    }
}

<div class="header-right">
    <div class="currency">
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("Index","History")"><i class="c1"></i></a>
            <a href="@Url.Action("Index","History")"><i class="c2"></i></a>
            <a href="@Url.Action("Index","History")"><i class="c3"></i></a>
            <a href="@Url.Action("Index","History")"><i class="c4"></i></a>
        }
        else
        {
            <a href="#"><i class="c1"></i></a>
            <a href="#"><i class="c2"></i></a>
            <a href="#"><i class="c3"></i></a>
            <a href="#"><i class="c4"></i></a>
        }
        
    </div>
    <div class="signin">
        <div class="cart-sec">
            <a href="@Url.Action("Index","Cart")"><img src="~/Content/ShopOnline/images/cart.png" alt="" />Giỏ hàng(@lsCart.Count())</a>
        </div>
        @if (Request.IsAuthenticated)
        {
            <ul>
                <li>@Html.ActionLink(User.Identity.Name, "Details", "Account")<span>/</span> &nbsp;</li>
                <li>@Html.ActionLink("ĐĂNG XUẤT", "LogOff", "Account")</li>
            </ul>
        }
        else
        {
            <ul>
                <li>@Html.ActionLink("ĐĂNG KÍ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) <span>/</span> &nbsp;</li>
                <li>@Html.ActionLink("ĐĂNG NHẬP", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
    </div>
</div>

