﻿@{
    var database = new ShopOnline.Models.QLShopOnlineEntities();
    var fashionMenu = from f in database.FashionTypes
                      select f;
}
<div class="header-left">
    <div class="top-menu">
        <ul>
            <li>@Html.ActionLink("TRANG CHỦ", "Index", "Home")</li>
          
            @foreach (var item in fashionMenu)
            {
                <li>@Html.ActionLink(item.Name, "Index", "Items", new { id = item.ID }, 1)</li>
            }
            @*<li>@Html.ActionLink("NAM", "Index", "Items", new { id = 1 }, 1)</li>
            <li>@Html.ActionLink("NỮ", "Index", "Items", new { id = 2 }, 1)</li>*@
            @*<li>@Html.ActionLink("TIN TỨC", "Index", "News")</li>*@
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("QUẢN LÝ", "IndexAdmin", "Home")</li>
            }
            <!--..dau a cong..if (Request.IsAuthenticated && user.LevelPemission == 1)
            {
                <li>..dau a cong..Html.ActionLink("QUẢN LÝ", "AdminManager", "Account")</li>
            }-->
        </ul>
        <!-- script-for-menu -->
        <script>
            $("span.menu").click(function () {
                $(".top-menu ul").slideToggle("slow", function () {
                });
            });
        </script>
        <!-- script-for-menu -->

    </div>
</div>

