﻿<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Trang quản lý</title>
    <meta name="description" content="Admin Manager">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/Admin/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/Admin/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->

    <link rel="shortcut icon" href="~/Content/Admin/img/favicon.ico">
    <!-- end: Favicon -->




</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/Home/IndexAdmin"><span>Quản lý</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                    
                        <!-- start: User Dropdown -->
                        @if (Request.IsAuthenticated)
                        { 
                            <li class="dropdown">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="halflings-icon white user"></i>@User.Identity.Name
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-title">
                                        <span>Cài đặt tài khoản</span>
                                    </li>
                                    <li><a href="/Account/DetailUsers?username=@User.Identity.Name"><i class="halflings-icon user"></i> Hồ sơ cá nhân</a></li>
                                    <li><a href="/Account/LogOff"><i class="halflings-icon off"></i> Đăng xuất</a></li>
                                    
                                </ul>
                            </li>
                        }
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href="/Home/IndexAdmin"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Tổng quan</span></a></li>
                        <li><a href="/Home/Charts"><i class="icon-list-alt"></i><span class="hidden-tablet"> Biểu đồ</span></a></li>
                        <li><a href="/TopTen/Index"><i class="icon-star"></i><span class="hidden-tablet"> Top 10</span></a></li>
                        <li><a href="/Comments/Index"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý bình luận</span></a></li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-align-justify"></i><span class="hidden-tablet"> Thống kê doanh số</span></a>
                            <ul>
                                <li>
                                    <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Chi tiết</span></a>
                                    <ul>
                                        <li><a class="submenu" href="/ThongKeTheoNgay/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Ngày</span></a></li>
                                        <li><a class="submenu" href="/ThongKeTheoTuan/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Tuần </span></a></li>
                                        <li><a class="submenu" href="/ThongKeTheoThang/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Tháng</span></a></li>
                                        <li><a class="submenu" href="/ThongKeTheoNam/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Năm</span></a></li>
                                        <li><a class="submenu" href="/ThongKeTheoQuy/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quý</span></a></li> 
                                    </ul>
                                </li>                 
                                <li>
                                    <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Tổng quát</span></a>
                                    <ul>                                   
                                        <li><a class="submenu" href="/BieuDoTheoTuan/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Tuần </span></a></li>
                                        <li><a class="submenu" href="/BieuDoTheoThang/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Tháng</span></a></li>
                                        <li><a class="submenu" href="/BieuDoTheoNam/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Năm</span></a></li>
                                        <li>
                                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Quý</span></a>
                                            <ul>
                                                <li><a class="submenu" href="/BieuDoQuy1/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quý 1</span></a></li>
                                                <li><a class="submenu" href="/BieuDoQuy2/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quý 2</span></a></li>
                                                <li><a class="submenu" href="/BieuDoQuy3/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quý 3</span></a></li>
                                                <li><a class="submenu" href="/BieuDoQuy4/Index"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quý 4</span></a></li>
                                            </ul>
                                        </li>                         
                                    </ul>
                                </li>                           
                            </ul>
                        </li>                            
                        <li><a href="/FashionTypes/Index"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý gian hàng</span></a></li>                      
                        <li><a href="/Order/Index"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý đơn hàng</span></a></li>
                        <li><a href="/Production/Index"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý sản phẩm</span></a></li>
                        <li><a href="/Account/AdminManageUser"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý tài khoản</span></a></li>
                        
                        
                        
                        <li><a href="/Home/Calendar"><i class="icon-calendar"></i><span class="hidden-tablet"> Sự kiện</span></a></li>
                        <li><a href="/Home/Index"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span10">

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="/Home/IndexAdmin">Trang chủ</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">@ViewBag.Title</a></li>
                </ul>
            @RenderBody()

            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="http://themifycloud.com">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
        <p>
            <span style="text-align:left;float:left">&copy; 2015 <a href="#" alt="Bootstrap_Metro_Dashboard">TVTShop</a></span>

        </p>
    </footer>

    <!-- start: JavaScript-->
    <script src="~/Content/Admin/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Admin/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/Admin/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/Admin/js/jquery.ui.touch-punch.js"></script>

    <script src="~/Content/Admin/js/modernizr.js"></script>

    <script src="~/Content/Admin/js/bootstrap.min.js"></script>

    <script src="~/Content/Admin/js/jquery.cookie.js"></script>

    <script src="~/Content/Admin/js/fullcalendar.min.js"></script>

    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/js/excanvas.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.resize.min.js"></script>

    <script src="~/Content/Admin/js/jquery.chosen.min.js"></script>

    <script src="~/Content/Admin/js/jquery.uniform.min.js"></script>

    <script src="~/Content/Admin/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/Admin/js/jquery.noty.js"></script>

    <script src="~/Content/Admin/js/jquery.elfinder.min.js"></script>

    <script src="~/Content/Admin/js/jquery.raty.min.js"></script>

    <script src="~/Content/Admin/js/jquery.iphone.toggle.js"></script>

    <script src="~/Content/Admin/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Content/Admin/js/jquery.gritter.min.js"></script>

    <script src="~/Content/Admin/js/jquery.imagesloaded.js"></script>

    <script src="~/Content/Admin/js/jquery.masonry.min.js"></script>

    <script src="~/Content/Admin/js/jquery.knob.modified.js"></script>

    <script src="~/Content/Admin/js/jquery.sparkline.min.js"></script>

    <script src="~/Content/Admin/js/counter.js"></script>

    <script src="~/Content/Admin/js/retina.js"></script>
    <script src="~/Content/Admin/js/custom.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
