﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Thời trang online</title>
    <link href="~/Content/ShopOnline/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/ShopOnline/js/jquery.min.js"></script>
    <script src="~/Content/ShopOnline/js/responsiveslides.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/ShopOnline/css/dashboard.css" rel="stylesheet" media="all">
    <link href="~/Content/ShopOnline/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!---- tabs---->
    <link type="text/css" rel="stylesheet" href="~/Content/ShopOnline/css/easy-responsive-tabs.css" />
    <script src="~/Content/ShopOnline/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
   
    <div class="header">
        <div class="container">
            @Html.Partial("_HeaderLeft")
            <div class="logo">
                <a href="#"><img src="~/Content/ShopOnline/images/logo.png" alt="" /></a>
            </div>
            @Html.Partial("_HeaderRight")
            <div class="clearfix"></div>
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>@Html.ActionLink("GIỚI THIỆU VỀ SHOPPER", "About", "Home")</li>
                    <li>@Html.ActionLink("LIÊN HỆ VỚI CHÚNG TÔI", "Contact", "Home")</li>
                    <li>@Html.ActionLink("ĐIỀU KHOẢN SỬ DỤNG", "Terms", "Home")</li>
                </ul>
            </div>
            <p>Copyright &copy; 2015 TVTShop</p>
            <div class="social">
                <a href="#"><span class="icon1"></span></a>
                <a href="#"><span class="icon2"></span></a>
                <a href="#"><span class="icon3"></span></a>
                <a href="#"><span class="icon4"></span></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
