﻿@model IEnumerable<ShopOnline.Models.FashionType>

@{
    ViewBag.Title = "Quản lý gian hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng gian hàng</h2>
            <div class="box-icon">
                @Html.ActionLink("Thêm gian hàng", "Create")
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Tên gian hàng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="center">
                                <a class="btn btn-success" href="/Categories/Index?id=@item.ID">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="/FashionTypes/Edit?id=@item.ID">
                                    <i class="halflings-icon white edit"></i>
                                </a>

                                <a class="btn btn-danger" href="/FashionTypes/Delete?id=@item.ID">
                                    <i class="halflings-icon white trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

