﻿@model ShopOnline.Models.Category

@{
    ViewBag.Title = "Xóa thể loại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn muốn xóa thể loại này?</h3>
<div>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
    }
</div>
