﻿@model IEnumerable<ShopOnline.Models.Category>

@{
    ViewBag.Title = "Quản lý thể loại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var fashionType = ViewBag.FashionType;
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Bảng thể loại</h2>
            <div class="box-icon">
                @Html.ActionLink("Thêm thể loại", "Create", new { fashionType = fashionType})
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Tên thể loại</th>
                        <th>Số lượng sản phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="center">@item.Name</td>
                            <td class="center">@item.Products.Count</td>
                            <td class="center">
                                <a class="btn btn-info" href="/Categories/Edit?id=@item.ID&fashionType=@fashionType">
                                    <i class="halflings-icon white edit"></i>
                                </a>

                                <a class="btn btn-danger" href="/Categories/Delete?id=@item.ID&fashionType=@fashionType">
                                    <i class="halflings-icon white trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

