﻿@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<link href="~/Content/Cart/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Cart/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/Cart/css/prettyPhoto.css" rel="stylesheet">
<link href="~/Content/Cart/css/price-range.css" rel="stylesheet">
<link href="~/Content/Cart/css/animate.css" rel="stylesheet">
<link href="~/Content/Cart/css/main.css" rel="stylesheet">
<link href="~/Content/Cart/css/responsive.css" rel="stylesheet">
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="partialCart">
    @Html.Partial("PartialCart")
</div>

<script src="~/Content/Cart/js/jquery.js"></script>
<script src="~/Content/Cart/js/bootstrap.min.js"></script>
<script src="~/Content/Cart/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/Cart/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/Cart/js/main.js"></script>
