﻿@using PagedList.Mvc;
@{
    var lsPage = ViewBag.Carts as PagedList.IPagedList<ShopOnline.Models.Cart>;
    var total = ViewBag.Total;
    var msg = ViewBag.Message;
    var adress = ViewBag.Adress;
}

@{
    if (lsPage.Count > 0 && msg==null)
    {
        <section id="cart_items">
            <div class="container">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Sản phẩm</td>
                                <td class="description"></td>
                                <td class="price">Giá bán</td>
                                <td class="quantity">Số lượng</td>
                                <td class="total">Thành tiền</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < lsPage.Count; i++)
                            {
                                string pathImage = "";
                                int currentId = (lsPage.PageNumber - 1) * lsPage.PageSize + i;
                                if (lsPage[i].Product.ProductImages.Count() > 0)
                                {
                                    var imageProduct = lsPage[i].Product.ProductImages.FirstOrDefault(item => item.Type == 1);
                                    pathImage = imageProduct.URL;
                                }
                                <tr>
                                    <td class="cart_product">
                                        <a href="@Url.Action("UpdateView","Items", new { id = lsPage[i].Product.ID })"><img src="@Url.Content(pathImage)" alt="" width="110" height="110"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="@Url.Action("UpdateView","Items", new { id = lsPage[i].Product.ID })">@lsPage[i].Product.Name</a></h4>
                                        <p>@lsPage[i].Product.Description</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@lsPage[i].Product.Price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            @Ajax.ActionLink("+", "Update", new { id = currentId, value = 1, page = lsPage.PageNumber }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialCart" })
                                            <input class="cart_quantity_input" type="text" name="quantity" value="@lsPage[i].Quantity" autocomplete="off" size="2">
                                            @Ajax.ActionLink("-", "Update", new { id = currentId, value = -1, page = lsPage.PageNumber }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialCart" })
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        @{
                                var sum = lsPage[i].Product.Price * lsPage[i].Quantity;                           
                                        }
                                        <p class="cart_total_price">@sum</p>
                                    </td>
                                    <td class="cart_delete">
                                        @Ajax.ActionLink("XÓA", "Delete", new { id = currentId, page = i==0 ? lsPage.PageNumber-1 : lsPage.PageNumber }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialCart" })
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="cart_product">
                                    Trang @(lsPage.PageCount < lsPage.PageNumber ? 0 : lsPage.PageNumber) / @lsPage.PageCount
                                    @Html.PagedListPager(lsPage, page => Url.Action("Index", new { page }),
                                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "partialCart" }))
                                </td>
                                <td class="cart_description"></td>
                                <td class="cart_price"></td>
                                <td class="cart_quantity"></td>
                                <td class="cart_total"></td>
                                <td class="cart_delete"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section> <!--/#cart_items-->
    }
    else
    {
        if (msg != null)
        {
            <div align="center">
                <h3>@msg</h3>
                <a class="btn btn-default update" href="@Url.Action("Index","Home")">Tiếp tục mua sắm</a>
                <hr>
            </div>
        }
        else
        {
            <div align="center">
                <h3>Bạn chưa chọn sản phẩm nào!</h3>
                <a class="btn btn-default update" href="@Url.Action("Index","Home")">Tiếp tục mua sắm</a>
                <hr>
            </div>
        }
    }
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>Làm thế nào sản phẩm đến tay bạn?</h3>
                <p>Đơn giản! Bạn hãy chọn hình thức thanh toán và xác nhận đơn đặt hàng qua email.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Bước 1:</h3>
                    <div class="chose_area">
                        @using (Ajax.BeginForm("SetInfo", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialCart" }))
                        {
                            <ul class="user_option">
                                <li>
                                    <input type="radio" name="payments" required="required">
                                    <label>Thanh toán tiền mặt</label>
                                </li>
                                <li>
                                    <input type="radio" name="payments" required="required">
                                    <label>Thẻ ATM ngân hàng nội địa</label>
                                </li>
                                <li>
                                    <input type="radio" name="payments" required="required">
                                    <label>Thẻ Visa/Master Card</label>
                                </li>
                            </ul>
                            <ul class="user_info">
                                <li class="single_field">
                                    <input type="text" name="adress1" list="lsAdress1" required="required" placeholder="Tỉnh / Thành phố">
                                    <datalist id="lsAdress1">
                                        <label> 
                                            <select name="adress1">
                                                <option>Hồ Chí Minh</option>
                                                <option>Hà Nội</option>
                                                <option>Đà Nẵng</option>
                                                <option>Hải Phòng</option>
                                                <option>Huế</option>
                                                <option>Cần Thơ</option>
                                                <option>Khánh Hòa</option>
                                                <option>Cà Mau</option>
                                            </select>
                                        </label>
                                    </datalist>
                                </li>
                                <li class="single_field">
                                    <input type="text" name="adress2" list="lsAdress2" required="required" placeholder=" Quận / Huyện">
                                    <datalist id="lsAdress2">
                                        <label>                 
                                            <select name="adress2">                                               
                                                <option>Quận 1</option>
                                                <option>Quận 2</option>
                                                <option>Quận 3</option>
                                                <option>Quận 4</option>
                                                <option>Quận 5</option>
                                                <option>Quận 6</option>
                                                <option>Quận 7</option>
                                            </select>
                                        </label>
                                    </datalist>                               
                                </li>
                                <li class="single_field zip-field">        
                                    <input type="text" name="adress3" required="required" placeholder="Địa chỉ nhà / Số đường">
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-default update">Xác nhận</button>
                        }
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Bước 2:</h3>
                    <div class="total_area">
                        @using (Ajax.BeginForm("CheckOut",new{total=total,adress=adress}, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialCart" }))
                        {
                            <ul>
                                <li>Thành tiền <span>@total VNĐ</span></li>
                                <li>Phí vận chuyển <span>Miễn phí</span></li>
                                <li>Phí dịch vụ <span>Miễn phí</span></li>
                                <li>Tổng số tiền <span>@total VNĐ</span></li>
                            </ul>
                            if (adress != null)
                            {
                                <button type="submit" class="btn btn-default update">Đặt hàng</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-default update" disabled>Đặt hàng</button>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
}



